<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Welcome to Task Manager</h1>
    <h2>This is a Dummy Landing Page</h2>
    <span>To check the whole API route docs check out </span><span><a href="/docs">docs</a></span>
    <p>Enter registration details below</p>
    
    <!-- Email and Password Form -->
    <form id="signin-form">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required><br><br>
    
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br><br>
    
      <button type="button" id="normal-signup">Normal Signup</button>
    </form>
    
    <p>Go Back to <a href="/">Login</a></p>
    
    <script src="/static/js/register.js"></script>
    
</body>
</html>
